html,
body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #f8f9fa;
}
body a {
	color: #000;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	position: fixed;
	width: 100%;
	min-height: $headerHeight + px;
	background-color: #fff;
	z-index: 55;
	transition: all 1s;
	box-shadow: 0px 1px 5px 1px #000;
	// opacity: 0;
}
.main,
.main-cat {
	position: relative;
	flex: 1 0 auto;
	padding-top: 170px;

	transition: all 1s;
}
.footer {
	flex: 0 0 auto;
	color: #fff;
}

.container{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
}
.container-lim-width {
	max-width: 1500px;
	background-color: #f8f9fa;
	padding: 50px 0;
	margin: 0 auto;
}
.section-wrapper .container {
	display: flex;
}
.content-container {
	
}
.content {
	flex: 1 0 80%;
	border-left: 1px solid #000;
}
.filter {
	flex: 0 1 20%;
	border-right: 1px solid #000;
}
.product-ajax__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	min-height: 1px;
	height: 70%;
	border: 3px solid #fff;
	border-radius: 5px;
	background-color: gainsboro;
	padding: 20px;
	margin: 0 auto;
}
.main-search,
.main-advantages,
.main-sale-timer,
.main-categories,
.main-list-cats,
.main-sections,
.main-discounts,
.main-reviews {
	margin: 50px 0;
}







