@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icons/icomoon.eot?lhsazp');
	src:  url('../fonts/icons/icomoon.eot?lhsazp#iefix') format('embedded-opentype'),
	  url('../fonts/icons/icomoon.ttf?lhsazp') format('truetype'),
	  url('../fonts/icons/icomoon.woff?lhsazp') format('woff'),
	  url('../fonts/icons/icomoon.svg?lhsazp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow_forward_ios:before {
	content: "\e908";
  }
  .icon-comments:before {
	content: "\e900";
  }
  .icon-close:before {
	content: "\e90a";
  }
  .icon-youtube-square:before {
	content: "\e901";
  }
  .icon-pinterest-square:before {
	content: "\e902";
  }
  .icon-twitter-square:before {
	content: "\e905";
  }
  .icon-facebook-official:before {
	content: "\e906";
  }
  .icon-instagram:before {
	content: "\e907";
  }
  .icon-filter:before {
	content: "\e909";
  }
  .icon-arrow-circle-right:before {
	content: "\e910";
  }
  .icon-arrow-circle-left:before {
	content: "\e911";
  }
  .icon-heart-o:before {
	content: "\e904";
  }
  .icon-heart:before {
	content: "\e912";
  }
  .icon-cart:before {
	content: "\e903";
  }
  .icon-shopping:before {
	content: "\e903";
  }
  .icon-ecommerce:before {
	content: "\e903";
  }
  .icon-buy:before {
	content: "\e903";
  }
  .icon-purchase:before {
	content: "\e903";
  }
  