body {
	font-family: $Roboto;
	font-weight: 400;
	font-size: 16px;
	background-color: #f8f9fa;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	width: 100%;
	// min-height: $headerHeight + px;
	background-color: #fff;
	z-index: 55;
	transition: all 1s;
	box-shadow: 0px 1px 5px 1px #000;
	// opacity: 0;
}
.main {
	flex: 1 0 auto;
	min-height: 500px;

	&.active {
		margin-top: 60px;
	}
}
.footer {
	flex: 0 0 auto;
	color: #fff;
}

.container{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
}
.body-grid {
	display: grid;
	grid-template-columns: 1px 1fr;
	grid-template-rows: 1fr;
	height: 100%;
	column-gap: 15px;

	&.active {
		grid-template-columns: 300px 1fr;
	}
}
.body-grid-inner {
	display: grid;
	grid-template-columns: repeat(4, minmax(100px, 250px));
	grid-template-rows: minmax(155px, auto);
	grid-auto-flow: row;
	justify-content: space-around;
	column-gap: 10px;
	box-shadow: 0 0 5px 4px;

	&.active {
		justify-content: center;
	}
}
.sticky {
	width: 100%;
	background-color: #fff;
}
.title-hover::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 4px;
	border-bottom: 3px solid #08ca08;
	transition: all .5s;
	transform: scale(0);
	margin: 0 auto;
}
.cats,
.main-cat,
.goods {
	margin: 50px 0;
}
.filter label {
	display: block;
	line-height: 20px;
	margin: 0 0 10px 20px;
}
.cats-hover {
	border: 1px solid #000;
	transition: all .5s;
	padding: 5px;
}
.body-grid-inner,
.filter__inner {
	padding: 10px;
}
.filter-title {
	font-family: $Lato;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}
.top-filter-btns {
	border-radius: 5px;
	box-shadow: 0 0 2px 2px;
	// background-color: rgba(243, 243, 243, 0.808);
	background-color: rgb(78 247 255 / 81%);
	transition: all .5s;
	padding: 10px 15px;
	margin: 5px;

	&.active {
		background-color: #fff;
	}
}
.filter-search-input {
	width: 100%;
	font-size: 16px;
	border: 3px solid rgba($color: #000000, $alpha: 0.5);
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all .5s;
	margin-bottom: 20px;
	padding: 10px 15px;

	&:focus {
		border-color: rgba($color: #000000, $alpha: 1.0);
	}
}
.filter-check {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid green;
	margin-left: -20px;
}
.filter-input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	padding: 5px 10px;

	& + .filter-check::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		width: 8px;
		height: 8px;
		background-color: green;
		transition: all .5s;
	}
	&:checked + .filter-check::before {
		transform: translate(-50%, -50%) scale(1);
	}
	&:focus + .filter-check {
		box-shadow: 0 0 0 2px #000;
	}
}
.filter-radio {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	padding: 5px 10px;

	& + .filter-check {
		border-radius: 50%;
	}
	& + .filter-check::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: green;
		transition: all .5s;
	}
	&:checked + .filter-check::before {
		transform: translate(-50%, -50%) scale(1);
	}
	&:focus + .filter-check {
		box-shadow: 0 0 0 2px #000;
	}
}
.filter-more-btn {
	position: relative;
	display: block;
	font-family: $OpenSans;
	// font-size: 18px;
	letter-spacing: 0.5px;
	color: blue;
	border-bottom: 2px solid transparent;
	background-color: transparent;
	transition: all .5s;
	padding: 3px;
	margin: 0 auto;

	&::before {
		position: absolute;
		content: '';
		top: 54%;
		transform: translate(0px, -50%);
		right: -22px;
		width: 17px;
		height: 17px;
		@include background-img('../img/icons/select.svg', no-repeat, center center);
		background-size: 17px;
		transition: all .5s;
	}
	&.active::before {
		transform: translate(0px, -50%) rotate(180deg);
	}
}
.filter__range-slider .extra-controls,
.filter__diameter-box,
.filter__total-length-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.filter-input-value {
	width: 100px;
	letter-spacing: 1px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px 15px;
}
.filter-form-btn {
	font-family: $OpenSans;
	border-radius: 6px;
	background-color: rgb(0 0 255 / 51%);
	box-shadow: 0 0 0 0 transparent;
	transition: all .5s;
	padding: 10px;
}
.with-discount {
	text-decoration: line-through;
	color: grey;
	font-size: 14px;
}
.price,
.price-discount {
	font-family: $OpenSans;
	font-weight: 700;
}
.price-discount {
	font-size: 18px;
	color: red;
	margin-bottom: 5px;
}
.product__sale-link,
.header__icons-link {
	font-family: 'icomoon';
	font-size: 26px;
	color: #000;
}
.heart-icon {
	&::before {
		content: "\e904";
	}
}
