//====================================filter================================
.filter__range-slider {
	& .range-slider {
		position: relative;
		height: 82px;
		margin-bottom: 20px;
	}
	& .extra-controls {
		margin-bottom: 0;
	}
	& .irs-min,
	& .irs-max,
	& .irs-from,
	& .irs-to {
		font-size: 18px;
	}
	& .irs-min,
	& .irs-max {
		top: -24px;
		border-radius: 5px;
		box-shadow: 0 0 6px 1px #000;
		visibility: visible !important;
		padding: 10px;
	}
	& .filter__range-slider-title {
		margin-bottom: 40px;
	}
	& .irs-from,
	& .irs-to {
		top: 50px;
		letter-spacing: 1px;
		border-radius: 5px;
		padding: 7px;
	}
}
//====================================filter================================

//====================================product-page-slick_slider=============
.product {
	&__slider-for {
		max-width: 880px;
		padding: 20px 60px;
	}
	&__slider-nav {
		max-width: 880px;
	}
	&__slider-for-item,
	&__slider-nav-item {
		width: 100%;
		margin: 0 auto;
	}
	&__slider-for-img {
		height: 500px;
		margin: 0 auto;
	}
	&__slider-nav-img {
		width: 100px;
		height: 100px;
		cursor: pointer;
		margin: 0 auto;
	}
	&__slider-btn-next::before,
	&__slider-btn-prev::before {
		font-family: 'icomoon';
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 50px;
		transition: all .4s;
	}
	&__slider-btn-next {
		&::before {
			content: "\e910";
			right: 0;
		}
	}
	&__slider-btn-prev {
		&::before {
			content: "\e911";
			left: 0;
		}
	}
}
//====================================product-page-slick_slider=============

//====================================product-page-fancybox=================
.product {
	&__slider-for-item a {
		display: block;
	}
}
//====================================product-page-fancybox=================