@media (any-hover:hover) {
	.cats-hover:hover {
		box-shadow: 0 0 7px 2px #000;
		.title-hover::before {
			transform: scale(1);
		}
	}
	.top-filter-btns:hover {
		background-color: #fff;
	}
	.filter-more-btn:hover {
		border-color: blue;
	}
	.filter-form-btn:hover {
		box-shadow: 0 0 10px 0px #000;
	}
}

