@media (any-hover:hover) {
	.cats-hover:hover {
		box-shadow: 0 0 7px 2px #000;
		.title-hover::before {
			transform: scale(1);
		}
	}
	.goods__inner .cats-hover:hover {
		.title-hover::before {
			transform: scale(0);
		}
	}
	.top-filter-btns:hover {
		background-color: #fff;
	}
	.filter-more-btn:hover {
		border-color: blue;
	}
	.filter-form-btn:hover {
		box-shadow: 0 0 10px 0px #000;
	}
	.filter-btn__show span:hover::before,
	.filter-btn__close span:hover::before {
		color: #fff;
		background-color: #000;
	}
	.goods__link:hover {
		background-color: rgb(0, 0, 187);
	}
	.goods__link-icon:hover::before {
		color: green;
	}
	.product__slider-btn-next:hover::before,
	.product__slider-btn-prev:hover::before {
		font-size: 60px;
		opacity: .7;
	}
	.product__sale-link:hover {
		box-shadow: 0 0 6px 4px #000;;
	}
}

