$blueColor: #6265e5;
$blueHover: #4042df;
$blueHoverMenu: rgb(90, 181, 209);
$greyHover: #e3e3e7;
$grey: #c0c0c0;
$greySliderArticle: #b0a9a5;
$blackAjaxPopup: rgba(0,0,0,0.7);
$grafit: #494d4e;

$headerHeight: 170;
$minHeight: 50px;

$maw: max-width;
$miw: min-width;
$mah: max-height;
$mih: min-height;