@media ($maw: 1190px) {
	.header__menu-list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.header__info {
		margin: 0;
	}
}
@media ($maw: 1025px) {
	.header__phone.hidden {
		position: absolute;
		top: 0;
		right: 110px;
		transform: scale(0);
		transition: all .8s;
	}
	.header__phone.activated {
		top: 60px;
		right: 88px;
		transform: scale(1);
		border-top: 0px;
		border-radius: 0 0 5px 5px;
		background-color: $blueColor;
		padding: 10px;
	}
	.header__phone.active.activated {
		top: 60px;
		right: 88px;
	}
	.header__menu-item {
		padding-bottom: 0;
	}
	.header__menu-item:not(:first-child) {
		margin-left: 15px;
	}
	.header__menu-item:not(:last-child) {
		margin-right: 15px;
	}
	.header__phone-icon-phone.hidden::before {
		content: "\e913";
		font-family: 'icomoon';
		font-size: 26px;
		line-height: 30px;
	}
	.header__phone-icon-phone.activated::before {
		color: $blueColor;
	}
	.container {
		padding: 0 10px;
	}
	.header__menu {
		position: relative;
	}
	.header__menu-list {
		position: absolute;
		top: 0;
		left: -110%;
		display: block;
		width: 106%;
		background-color: $grafit;
		text-align: left;
		overflow: auto;
		transition: left 1s ease 0s;

		&.active {
			left: -3%;
		}
		.header__menu-item-btn::before,
		.header__menu-sub-item-btn::before {
			color: #fff;
		}
	}
	.header.active .header__menu-link {
		color: #fff;
	}
	.header.active .header__menu-link,
	.header__menu-sub-link,
	.header__menu-sub-link-cat {
		font-size: 18px;
	}
	.header__menu-sub-item.show-sub-menu .header__menu-sub-list-cat {
		width: 85%;
		background-color: #fff;
		transform: translate(1%, -26px);
		z-index: 5;
	}
	.header__menu-sub-item-btn.rotate::before {
		transform: rotate(0deg);
	}
	.header__menu-item:first-child {
		margin-left: 15px;
	}
	.header__menu-sub-list {
		position: static;
		display: none;
		background-color: $blueHoverMenu;
		opacity: 1;
		visibility: visible;
		transition: none;
		transform: translate(0);
		overflow-y: scroll;
		overflow-x: hidden;
		padding-right: 0px;
	}
	.header__menu-item-btn.rotate::before {
		transform: rotate(-91deg);
	}
	.main.active {
		padding-top: 70px;
	}
	.footer-top {
		flex-wrap: wrap;
	}
	.footer__row:first-child {
		flex: 1 1 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px;
	}
	.footer__info {
		flex: 1 1 66%;
		margin: 0px 20px 0px 0px;
	}
	.footer__subscribe {
		flex: 0 1 30%;
	}
	.footer .title {
		line-height: 30px;
	}
	.footer-bottom__payments {
		text-align: right;
	}
}
@media ($maw: 1025px) and (any-hover: hover) {
	.header__menu-sub-list {
		position: absolute;
		display: block;
		top: 88%;
		left: 0;
		min-width: 200px;
		transform: translate(0, 10px);
		transition: all .5s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		padding-right: 8px;
		margin: 5px 0;
	}
	.header__menu-item:hover {
		.header__menu-sub-list {
			background-color: $blueHoverMenu;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
			pointer-events: auto;
			overflow: visible;
		}
	}
	.header__menu-sub-item:hover {
		.header__menu-sub-list-cat {
			background-color: #fff;
			transform: translate(0%, -33px);
			z-index: 5;
		}
	}
	.header__menu-sub-item:hover .header__menu-sub-link-cat:hover {
		color: #000;
		text-decoration: underline;
	}
}
@media ($maw: 1025px) and (orientation: landscape) {
	.header.active .header__menu-item {
		margin-left: 20px;
	}
	.header__menu-item-btn::before {
		right: 20px;
	}
}
@media ($maw: 891px) {
	.footer .title {
		font-size: 26px;
		line-height: 37px;
	}
	.footer__info-text, 
	.footer__subscribe-text	 {
		font-size: 18px;
	}
	.footer__menu-item, 
	.footer__contact-us-item {
		font-size: 18px;
		margin: 20px 0;
	}
}
@media ($maw: 701px) {
	.footer__menu {
		flex-wrap: wrap;
	}
	.footer__menu-items {
		margin: 0 15px 30px 0;
	}
}
@media ($maw: 600px) {
	.header__form-btn {
		width: 60px;
	}
	.footer__row:first-child {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer__info {
		margin: 0px 0px 30px 0px;
	}
	.footer__form {
		justify-content: center;
	}
}
@media ($maw: 531px) {
	.main.active {
		padding-top: 82px;
	}
	.header__phone.active.activated {
		top: 66px;
	}
	.footer-bottom__inner {
		flex-wrap: wrap-reverse;
		justify-content: center;
		padding: 20px 0;
	}
	.footer-bottom__payments {
		text-align: center;
	}
	.footer-bottom__img {
		margin: 0 5px 20px 0;
	}
	.footer-bottom__img:last-child {
		margin-right: 0;;
	}
	.footer-bottom .footer-bottom__license {
		margin-right: 0;
	}
}
@media ($maw: 500px) {
	.header.active .header__top {
		flex-direction: column;
		margin-bottom: 0;
	}
	.header__logo-link.active {
		font-size: 30px;
	}
	.header__phone {
		margin-right: 0;
	}
	.header__phone.hidden {
		right: 80%;
	}
	.header__phone.active.activated {
		top: 50px;
		right: calc(50% - 83px);
	}
	.header__adress {
		font-size: 14px;
	}
	.header__top-panel {
		width: 100%;
	}
	.header__wishes-text.active {
		margin-left: 10px;
	}
	.header__cart-text.active {
		margin-left: 20px;
	}
	.header__login-text.active {
		margin-left: 15px;
	}
	.main.active {
		padding-top: 108px;
	}
}
@media ($maw: 440px) {
	.header__phone.hidden {
		right: 78%;
	}
	.header__form {
		height: 120px;
	}
}
@media ($maw: 426px) {
	.cats__img {
		max-width: 375px;
		width: 80vw;
		height: 240px;
	}
	.cats__title {
		font-size: 22px;
	}
}
@media ($maw: 400px) {
	.header__phone.hidden {
		right: 74%;
	}
}
@media ($maw: 345px) {
	.header__phone.hidden {
		right: 70%;
	}
	.footer__form-input {
		width: 100%;
	}
	.footer__socials-item:not(:first-child) {
		margin-left: 14px;
	}
	.footer__socials-item:not(:last-child) {
		margin-right: 14px;
	}
}
@media ($maw: 319px) {
	.footer__socials-item {
		margin: 0 auto;
	}
	.footer__socials-item:not(:first-child),
	.footer__socials-item:not(:last-child) {
		margin: 0 auto;
	}
}
@media ($maw: 280px) {
	.main.active {
		padding-top: 122px;
	}
}

