@media (any-hover: hover) {
	.header__form-btn:hover {
		background-color: $blueHover;
	}
	.header__menu-item:hover {
		transition: all .5s;
		.header__menu-sub-list {
			background-color: $blueHoverMenu;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
			pointer-events: auto;
		}
	}
	.header__menu-item:not(:first-child):hover a {
		background-color: $blueHoverMenu;
	}
	.header__menu-item:first-child:hover {
		.header__menu-item-btn::before {
			transform: rotate(-91deg);
		}
	}
	.header__menu-sub-item:hover {
		.header__menu-sub-link {
			color: #fff;
			transform: translate(50%, 0);
		}
		.header__menu-sub-list-cat {
			background-color: $grafit;
			opacity: 1;
			visibility: visible;
			transform: translate(156%, -32px);
		}
		.header__menu-sub-link-cat:hover {
			color: #fff;
		}
		.header__menu-item-btn::before, 
		.header__menu-sub-item-btn::before {
			transform: rotate(180deg);
		}
	}
	.header__wishes-text:hover, 
	.header__cart-text:hover, 
	.header__login-text:hover {
		border-radius: 5px;
		background-color: $greyHover;
	}
	.header__wishes-text.active:hover, 
	.header__cart-text.active:hover, 
	.header__login-text.active:hover {
		background-color: transparent;
	}
	.header__wishes-text.active:hover:before, 
	.header__cart-text.active:hover:before, 
	.header__login-text.active:hover:before,
	.header__phone-icon-phone.active:hover::before {
		transition: all .5s;
		color: $blueColor;
		cursor: pointer;
	}
	.header__phone-tel:hover {
		text-decoration: underline;
	}
	.cats__item:hover {
		box-shadow: 0 0 7px 2px #000;
		.cats__title::before {
			// border-bottom: 1px solid #000;
			transform: scale(1);
		}
	}
}

